<div>
  <div>
    <h1>Formulario de registro</h1>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div>
        <label>Nombre</label>
        <input type="text" formControlName="name" />
      </div>
      <div>
        <label>Email</label>
        <input type="text" formControlName="email" />
      </div>
      <div>
        <label>Password</label>
        <input type="password" formControlName="password" />
      </div>
      <input type="submit" value="Enviar" />
    </form>
  </div>
</div>
